/* Add any custom styles here */
nav {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
nav a {
  color: white;
  padding: 10px;
  margin: 10px;
}
nav a:hover {
  color: gray;
}
